<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
          pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %.1000msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="${env:LOG_LEVEL:-WARN}">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="akka.actor.LocalActorRefProvider(akka://woken)" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.cluster" level="${env:AKKA_CLUSTER_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.io" level="${env:AKKA_IO_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.http.impl" level="${env:AKKA_HTTP_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.remote.artery.compress" level="${env:AKKA_REMOTE_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.remote.artery.tcp" level="${env:AKKA_REMOTE_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.stream.impl" level="${env:AKKA_STREAM_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="ch.chuv.lren.woken" level="${env:WOKEN_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="woken" level="${env:WOKEN_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.gettyimages.spray.swagger" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.wordnik.swagger" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.zaxxer.hikari" level="${env:DB_LOG_LEVEL:-WARN}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="doobie" level="${env:DB_LOG_LEVEL:-WARN}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="io.netty" level="${env:NETTY_LOG_LEVEL:-ERROR}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.asynchttpclient" level="ERROR">
      <AppenderRef ref="Console"/>
    </Logger>

  </Loggers>
</Configuration>
