<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
          pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="akka.cluster" level="info">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.stream" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ch.chuv.lren.woken.test.WokenWebSocketAPITest" level="info">
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>
</Configuration>
