<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
          pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="akka.actor.LocalActorRefProvider(akka://woken)" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.cluster" level="${sys:AKKA_CLUSTER_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.io" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.http.impl" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.remote.artery.compress" level="${sys:AKKA_CLUSTER_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.remote.artery.tcp" level="${sys:AKKA_CLUSTER_LOG_LEVEL:-INFO}">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="akka.stream.impl" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ch.chuv.lren.woken.test.WokenWebSocketAPITest" level="INFO">
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>
</Configuration>
